.container-fluid {
    max-height: 1000px; /* Set the maximum width to your desired value */
    margin-right: auto;
    margin-left: auto;
}

.user {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row; /* Display items horizontally by default */
    align-items: center;
    margin: 15px;
}


/* Optional: Add some styling for better visibility */
.user p, .user button {
    margin: 5px;
}

.column {
    float: left;
    width: 50%;
    height: 20%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    display: flex;
    align-items: center;
   }
   
.container .item:nth-child(2){ /*Only second item padding and center text*/
padding-left: 1em;
padding-right: 1em;
text-align: center;
}

.logout a{
    text-decoration: none;
    color: white;
}

.logout:hover {
        background-color: rgb(11, 93, 212);
}

/* Media query for smaller screens */
@media screen and (max-width: 800px) {
    .user {
        flex-direction: column; /* Display items vertically on smaller screens */
        align-items: left;
    }
    
    .user button {
        margin-left: 0; /* Remove left margin for button on smaller screens */
        margin-top: 10px; /* Add top margin for button on smaller screens */
    }
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
