@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.par{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.question{
    font-weight: bold;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
