@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.login a{
    text-decoration: none;
    color: black;
}

.login:hover {
        background-color: rgb(11, 93, 212);
}
.sfaqs a,.saboutus a{
    text-decoration: none;
    color: black;
}


.text{
    text-align: justify;
}

/*.footer-links .nav-link,
.footer-links .nav-link:hover,
.footer-links .nav-link:active {
  color: black;
  text-decoration: none;
} */

  
