body {
    background: white
}

.profile-button {
    background: rgb(11, 93, 212);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgb(7, 65, 151);
}

.profile-button:focus {
    background: rgb(7, 65, 151);
    box-shadow: none
}

.profile-button:active {
    background: rgb(7, 65, 151);
    box-shadow: none
}

.labels {
    font-size: 15px
}

