.form_button {
    background-color: rgb(11, 93, 212);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.form_button:hover {
    background-color: rgb(7, 65, 151);
}