@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


.text{
    text-align: justify;
}

.column{
    float: right;
    width: 33.33%;
    padding: 5px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-section {
    margin-left: auto;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    color: white; 
    text-decoration: none;
}

.btn:hover {
    color: white; 
}